<h3 class="ui header x-title"></h3>
<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Hash</th>
      <th>Type</th>
      <th>Address</th>
      <th>Data</th>
      <th>Status</th>
    </tr>
  </thead>
</table>
<% script.create('JQuery')
  .useDependencies('SemanticUI/Loader')
  .add(`
$.activity = $.loader($('div[data-tab="activity"] table'), {
    url: '/activity/PAGE',
    formatRow: function(item) {
        return $('<tr><td>' + item.nr + '</td>' +
            '<td>' + item.time + '</td>' +
            '<td>' + item.hash.substr(0, 8) + '</td>' +
            '<td>' + this.icon(item.type) + '</td>' +
            '<td>' + (item.address ? item.address : '') +
                (item.origin ? '<div><div class="ui mini grey label tag">' + item.origin + '</div></div>' : '') + '</td>' +
            '<td>' + (item.data ? item.data : '') + '</td>' +
            '<td>' + item.status + '</td>' +
            '</tr>');
    }
});
`); %>
