<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Address</th>
      <th>Time</th>
    </tr>
  </thead>
</table>
<% script.create('JQuery')
  .useDependencies('SemanticUI/Loader')
  .add(`
$.client = $.loader($('div[data-tab="client"] table'), {
    url: '/client',
    formatRow: function(item) {
        return $('<tr><td>' + item.nr + '</td>' +
            '<td>' + item.id + '</td>' +
            '<td>' + item.address + '</td>' +
            '<td>' + (item.time ? item.time : 'n/a') + '</td>' +
            '</tr>');
    },
    loaded: function(json) {
        $('a[data-tab="client"] span.label').text(json.items.length);
    }
});
`); %>
