<div class="ui form">
<textarea class="activity" rows=30 readonly></textarea>
</div>
<% script.create('JQuery').add(`
$.log = {
    el: $('textarea.activity'),
    url: '/activity-log',
    load: function() {
        var self = this;
        $.get(self.url).then(function(json) {
            if (json.logs) {
                self.el.text(json.logs);
                self.time = json.time;
            }
        });
    },
    add: function(data) {
        var self = this;
        if (data.time > self.time) {
            self.el.append(data.message + '\\r\\n');
            self.el.scrollTop(self.el[0].scrollHeight - self.el.height());
            self.time = data.time;
        }
    }
}
`); %>
