<% menus = {
    branding: {
        type: 'brand',
        title: apptitle,
        logo: '/images/logo.png',
        url: '/'
    },
    tasks: {
        title: 'Tasks',
        class: 'right floated',
        items: {
            about: {
                title: 'About'
            }
        }
    }
} %>
<% if(user.authenticated) {
    Object.assign(menus.tasks.items, {
        divider1: {
            type: 'divider'
        },
        sendat: {
            title: 'Send AT command'
        },
        divider2: {
            type: 'divider'
        },
        logout: {
            title: 'Logout',
            url: '/logout'
        }
    });
} %>
<%- menu(menus, {mainmenu: true, indentation: 2}); %>
<% script.create('JQuery')
  .useDependencies(['JQuery/Util', 'SemanticUI/Dialog', 'SemanticUI/Dialog/Message'])
  .addMiddle(`
$.tasks = {
    about: function() {
        var self = this;
        var f = function() {
            var msg = $.util.template('<p>%TITLE% version %VERSION%<br/>' +
                '(c) %AUTHOR%<br/>' +
                'Licensed under %LICENSE%</p>', {
                TITLE: self.aboutInfo.title,
                VERSION: self.aboutInfo.version,
                AUTHOR: $('<div>').text(self.aboutInfo.author).html(),
                LICENSE: self.aboutInfo.license
            });
            $.ntdlg.message('task-about', 'About', msg, $.ntdlg.ICON_INFO);
        }
        if (!self.aboutInfo) {
            $.get('/about').then(function(json) {
                self.aboutInfo = json;
                f();
            });
        } else {
            f();
        }
    },
    sendAt: function() {
        var self = this;
        if ($.term) {
            var termlist = function() {
                var result = [];
                for (var term in $.term.terms) {
                    result.push($.util.template('<option value="%VALUE%">%LABEL%</option>',
                        {VALUE: term, LABEL: term}));
                }
                return result.join('');
            }
            var message =
                '<form class="ui container form">' +
                    '<div class="field">' +
                        '<label>Select terminal:</label>' +
                        '<select name="terminal" class="ui dropdown">' +
                            termlist() +
                        '</select>' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>Command:</label>' +
                        '<input type="text" name="command" value="">' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>Feedback:</label>' +
                        '<div class="ui segment feedback" style="height: 10rem; overflow-y: auto;"></div>' +
                    '</div>' +
                '</form>';
            var dlg = $.ntdlg.dialog('sendatdlg', 'Send AT command', message, 'desktop icon', {
                'send': {
                    type: 'green approve',
                    caption: '<i class="check icon"></i>Send',
                    handler: function() {
                        var term = dlg.find('select[name="terminal"]');
                        var cmd = dlg.find('input[name="command"]');
                        if (term.val() == null) {
                            term.focus();
                            return false;
                        }
                        if (cmd.val() == '') {
                            cmd.focus();
                            return false;
                        }
                        $.post('/TERM/at'.replace(/TERM/, term.val()), {command: cmd.val()}).then(function(json) {
                            console.log(json);
                            var responses = [];
                            responses.push($.util.template('%TERM%&gt; <strong>%CMD%</strong> <i class="%ICON% icon"></i>', {
                                TERM: term.val(),
                                CMD: cmd.val(),
                                ICON: json.success ? 'green check' : 'red times'
                            }));
                            if (json.data) {
                                responses.push($.util.template('<pre>%DATA%</pre>', {
                                    STATE: json.success ? 'green' : 'red',
                                    DATA: json.data
                                }));
                            }
                            dlg.find('.feedback').append($.util.template('<p class="small">%CONTENT%</p>', {
                                CONTENT: responses.join('')
                            }));
                        });
                        return false;
                    }
                },
                'close': {
                    type: 'red deny',
                    caption: '<i class="times icon"></i>Close'
                }
            });
            dlg.find('select.dropdown').dropdown();
            dlg.find('form').on('submit', function(e) {
                e.preventDefault();
                dlg.find('.approve').click();
            });
            $.ntdlg.show(dlg);
        }
    },
    init: function() {
        var self = this;
        $('.menu-about').on('click', function(e) {
            e.preventDefault();
            self.about();
        });
        $('.menu-sendat').on('click', function(e) {
            e.preventDefault();
            self.sendAt();
        });
    }
}
`).addLast(`
$.tasks.init();
`); %>